.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.blue {
    background-color: #8080ff;
    color: #f0f8ff;
}

.red {
    background-color: #ff5050;
    color: #f0f8ff;
}

.green {
    background-color: #33cc33;
    color: #f0f8ff;
}

h1 {
    color: #3F3F3F;
    margin-left: 40px;
}

.h-bar {
    min-height: 8px;
    max-height: 30px;
    min-width: 10px;
    margin-bottom: 2px;
    color: #f0f8ff;
    text-align: right;
    padding-right: 2px;
}

span.title1 {
    font-size: 15px;
}

span.value1 {
    font-size: 10px;
}

.details {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.v-bar {
    min-height: 1px;
    min-width: 30px;
    background-color: #4682b4;
    margin-right: 2px;
    font-size: 10px;
    color: #f0f8ff;
    text-align: center;
    width: 10px;
    display: inline-block;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.code {
    font-family: "menlo";
    font-size: 0.9em;
}